<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @quiz.category.name %>
</p>

<p>
  <strong>Published:</strong>
  <%= @quiz.published %>
</p>

<div class ="quiz">
    <ol class="questions">
        <% @quiz.questions.each do |question| %>
        <li>
          <%= question.body %>
          <ol class="answers">
            <% question.answers.each do |answer| %>
            <li>
              <%= radio_button_tag("answer[#{question.id}]", answer.id) %>
              <%= label("answer_".concat(answer.id.to_s).to_sym, answer.body) %>
            </li>
            <% end %>
          </ol>
        </li>
        <% end %>
    </ol>

  <div><%= submit_tag("Submit", class: 'btn btn-success') %></div>

  </div>
<%= link_to 'Back', quizzes_path %>
