<h1><%= @quiz.title %></h1>

<p>Category: <%= @quiz.category.name %></p>

<p>Published: <%= @quiz.published %></p>

<table class=" table table-striped table-bordered">
  <thead>
    <tr>
      <th>Questions</th>
    </tr>
  </thead>

<tbody>
   <tr>
        <% @quiz.questions.each do |question| %>
   <th>

          <%= question.body %>
     
          
          </th>
          </tr>
          
      <tr><th>
          <ol class="answers">
            <% question.answers.each do |answer| %>
            <li>
              <%= radio_button_tag("answer[#{question.id}]", answer.id) %>
              <%= label("answer_".concat(answer.id.to_s).to_sym, answer.body) %>
            </li>
            <% end %>
          </ol>
   
        </th>
        </tr>
        <% end %>
    </ol>
  </tbody>
</table>

         
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>


        